<section id="post">
  <div class="post">
    <header>
      <h4>Post #1 by <%= @author%> </h4>
      <span>Comments: <%= @comments_count%>, Likes: <%= @likes_count%></span>
    </header>
    <p>
      <%= @post_text%>
    </p>
  </div>
  <%= render 'shared/comments', post: @post  %>
</section>
