<section id="post">
  <div class="post">
    <header>
      <h4>Post #1 by <%= @author%> </h4>
      <span>Comments: <%= @comments_count%>, Likes: <%= @likes_count%></span>
    </header>
    <p>
      <%= @post_text%>
    </p>
  </div>
  <div class="comments">
    <%@comments.each do |comment|%>
      <div class="comment">
        <h4><%= comment.author.name%>:</h4>
        <span> <%= comment.text%> </span>
      </div>
    <%end%>
  </div>
</section>
